div#upper_banner {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100vw;
  height   : 10vw;
}

div img#upper_banner_image {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100vw;
  height   : 10vw;
  filter   : opacity(0.7) blur(4px);
}

div ul#upper_banner_list {
  display         : flex;
  position        : absolute;
  top             : 0vw;
  left            : 0vw;
  width           : 100vw;
  height          : 10vw;
  margin          : 0;
  padding         : 0;
  color           : rgb(255, 255, 255);
  filter          : opacity(1);
  list-style-type : none;
}

div ul li {
  display     : flex;
  width       : 100vw;
  height      : 10vw;
  margin      : 0;
  padding     : 0 0 0 2vw;
  align-items : center;
  font-family : verdana;
  font-size   : 2vw;
}

div ul li:hover {
  color : yellow;
  font-weight     : bold;
  cursor          : pointer;
}
